@import '@css/mixin/mixin.scss';

.admin {
  border-radius: var(--radius-xl);
  background-color: var(--clr-light);
  padding: 2rem 3rem;
  width: min(100%, 600px);

  @media screen and (max-width: 600px) {
    height: inherit;
    border-radius: 0;
    padding: 2rem 1.25rem;
  }
}

.input_list {
  @include flex(column);
  gap: 1.25rem;
  padding: 2rem 0;
}
