@import '@css/mixin/mixin.scss';

.content {
  @include flex(column-reverse);
  padding: 0;
  border-radius: 0;
  background-color: var(--clr-light);

  @media screen and (min-width: 1023px) {
    @include flex();
    gap: 4rem;
    border-radius: var(--radius-xl);
    padding: 1.5rem 1.5rem 1.5rem 4rem;
  }

  &_form {
    @include flex(column, center);
    gap: 2.5rem;
    padding: 2.5rem 1.5rem;
    @media screen and (min-width: 1023px) {
      padding: 4.5625rem 0;
    }
  }

  &_info {
    @include flex(column);
    gap: 1.5rem;
  }

  ul {
    @include flex(column);
    gap: 0.625rem;
  }

  li {
    @include flex(row, '', center);
    gap: 1rem;
    list-style: none;
  }
}
