@import '@css/mixin/mixin.scss';

.abstractContent {
  background: linear-gradient(204.47deg, #ff6a3a 0%, #ff527b 100%);
  border-radius: var(--radius-md);
  min-width: 100%;
  position: relative;
  overflow: hidden;
  min-width: 25rem;

  .screenLeft {
    position: absolute;
    right: 160px;
    top: 211px;
    @include size(432px, 290px);
    border-radius: 1rem;
    background-color: var(--clr-primary-100);

    & span {
      position: absolute;
    }

    .screenLeft_inside {
      inset: 1rem;
      @include size(calc(100% - 2rem));
      border-radius: var(--radius-sm);
      background: linear-gradient(119deg, #ff3e83 14%, #ff9f2e 99%);
      overflow: hidden;
      box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.1);

      & span {
        @include size(19.75rem);
        border-radius: 99999px;
      }
    }

    .circleTop {
      top: -76%;
      right: 30%;
      rotate: -135deg;
      background: linear-gradient(
        180deg,
        #ffb443 0%,
        rgba(255, 91, 100, 0) 100%
      );
    }
    .circleBottom {
      bottom: -50%;
      left: 14.5rem;
      background: linear-gradient(
        180deg,
        #ffb443 0%,
        rgba(255, 91, 100, 0) 100%
      );
    }
  }

  .screenRight {
    position: absolute;
    top: 115px;
    left: 128px;
    @include flex();
    height: 251px;
    width: 433px;
    background-color: #f5f5f5;
    border-radius: var(--radius-sm);

    &_header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      @include flex(row, '', center);
      height: 2rem;
      background-color: var(--clr-primary-100);
      border-radius: 0.5rem 0.5rem 0 0;
      padding: 0 0 0 1rem;
      z-index: 300;

      .dotContainer {
        @include flex(row, center, center);
        gap: 0.5rem;
      }
      .dot {
        content: '';
        @include size(0.875rem);
        background-color: red;
        @include circle();
        background-color: var(--clr-accent);

        &:nth-child(2) {
          background-color: rgba(255, 146, 85, 1);
        }

        &:nth-child(3) {
          background-color: rgba(107, 212, 168, 1);
        }
      }
    }

    &_content {
      @include flex(row);
    }

    .content_aside {
      position: relative;
      width: 6rem;
      height: 100%;
      border-radius: 0.5rem 0 0 0.5rem;
      background: linear-gradient(
        180deg,
        rgba(202, 203, 232, 1) 0%,
        rgba(238, 238, 238, 1) 53%,
        rgba(202, 203, 232, 1) 100%
      );
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      content: '';
    }

    .fakeList {
      position: absolute;
      top: 3rem;
      @include flex(column);
      width: inherit;
      gap: 0.8125rem;
      list-style: none;

      li {
        @include size(68px, 7px);
        margin-left: 0.875rem;
        border-radius: 99999px;
        background-color: #babbdb;
        content: '';

        &:nth-child(2n) {
          width: 3.8125rem;
        }
      }
    }
  }
}

.diagram {
  position: absolute;
  top: 5.8125rem;
  left: 15.3125rem;
  z-index: 500;
  @include flexCenter();
  @include size(5.8125rem, 8.125rem);
  border-radius: var(--radius-sm);
  background-color: var(--clr-primary-800);
  content: '';
  &_svg {
    background-image: url('/assets/svg/desktop/diagram.svg');
    background-repeat: no-repeat;
    background-position: center;
    @include size(inherit);
  }
}

.score {
  position: absolute;
  top: 14.9375rem;
  left: 18.375rem;
  @include flexCenter();
  @include size(8rem, 9.5rem);
  content: '';
  background-color: var(--clr-primary-800);
  border-radius: var(--radius-sm);
  &_svg {
    background-image: url('/assets/svg/desktop/score.svg');
    background-repeat: no-repeat;
    background-position: center;
    @include size(inherit);
  }
}
