@import "@css/mixin/mixin.scss";
@import "@css/utils/animation.scss";
.errorApi {
  @include flex(column, center, center);
  gap: 44px;
  padding-top: 6.25rem;
  opacity: 0;
  animation: appear 0.5s forwards;
  transition: 0.5s;

  p {
    line-height: 1.5;

    &:first-child {
      margin-bottom: 1.5rem;
    }
  }
}
