@import "@css/mixin/mixin";

$size: 1rem;

.loading {
  @include flexCenter(column);
  min-height: 312px;
  opacity: 0;
  animation: appear 0.5s forwards;
  transition: 0.5s;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dotsContainer {
  @include flexCenter();
  margin-bottom: 10px;
}

.dot {
  @include size($size);
  background-color: var(--clr-accent);
  @include circle();
  margin: 0 5px;
  animation: bounce 0.8s infinite;
}

.dot:nth-child(1n) {
  animation-delay: 0ms;
}

.dot:nth-child(2n) {
  animation-delay: 200ms;
}

.dot:nth-child(3n) {
  animation-delay: 400ms;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0.5;
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
