@import '@css/mixin/mixin.scss';

@import '@css/mixin/mixin.scss';

.dialog {
  position: relative;
  @include flex(column);
  padding: 5rem 4rem 4rem 4rem;
  gap: 0rem;
  position: relative;
  width: min(100%, 380px);

  p {
    text-wrap: balance;
  }

  footer {
    @include flex(row, space-between);
    button {
      padding: 0 1rem;
    }
  }
}

.content {
  @include flex(column);
  gap: 1.5rem;
  padding: 1rem 0;
}
