@import "@css/mixin/mixin.scss";

$width: 2.5rem;
$height: 1.25rem;
$spacing: 3px;

.switchButton {
  @include flex(row, "", center);
  gap: 1.25rem;
  :has(.animate_switchTheme) {
    background-color: blue;
  }
}

.checkbox {
  position: relative;
  @include flex(row, "", center);
  width: $width;
  height: $height;
  background-color: var(--clr-primary-500);
  border-radius: 99999px;
  cursor: pointer;
  content: " ";
  -webkit-appearance: none;
  appearance: none;

  &::before {
    position: absolute;
    display: block;
    left: $spacing;
    width: calc($height - ($spacing * 2));
    height: calc($height - ($spacing * 2));
    transition: ease-in var(--transition-xs);
    content: " ";
    background-color: var(--clr-primary-800);
    border-radius: 99999px;
  }

  &:checked::before {
    transform: translateX(calc(200% - ($height / 2) + $spacing));
  }
}
