@import '@css/mixin/mixin.scss';

.icon {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 0;
  @include flex(row, center, center);
  width: 2.5rem;
  height: calc(100% - 2px);
  border-radius: 0 var(--radius-sm) var(--radius-sm) 0;
  background-color: rgb(255, 255, 255);

  svg {
    @include size(1rem);
    color: var(--clr-accent);
  }
}

.field {
  @include flex(column);
}

.field_input {
  position: relative;
  @include flex(row, '', center);
  gap: 1rem;
}

.label {
  @include flex(row, space-between);
  margin-bottom: 0.5rem;
  max-height: 1.125rem;

  label {
    font-size: 0.75rem;
    font-weight: 700;
  }
}
