@use '@css/components/atoms/form/input.scss';
@use '@css/components/atoms/form/button.scss';
@use '@css/components/atoms/Text/text.scss';
@import '@css/mixin/mixin.scss';
@import '@css/utils/animation.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --clr-accent: rgb(255, 97, 85);
  --clr-warning: rgb(255, 97, 85);
  --clr-light-gray: rgb(216, 216, 216);
  --clr-primary-transparent: rgba(25, 24, 43, 0.25);

  --clr-primary-100: rgb(25, 24, 43);
  --clr-primary-200: rgb(36, 39, 66);
  --clr-primary-300: rgba(46, 49, 73);
  --clr-primary-400: rgba(54, 66, 76);
  --clr-primary-500: rgba(105, 117, 137);
  --clr-primary-600: rgba(165, 172, 180);
  --clr-primary-700: rgba(210, 210, 210);
  --clr-primary-800: rgba(255, 255, 255);

  --gradient: linear-gradient(180deg, #ff6a3d 0%, #ff5b66 100%);

  // Font size

  --fs-500: 3.5rem; // 56px
  --fs-400: 1.5rem; // 24px
  --fs-300: 1.25rem; // 20px
  --fs-200: 1.125rem; // 18px
  --fs-100: 0.75rem; // 12px

  --transition-xs: 0.3s;
  --transition-md: 0.5s;

  --z-index-100: 100;
  --z-index-200: 200;
  --z-index-300: 300;

  --root-size: 51rem;

  --color: rgb(36, 39, 66);

  // radius

  --radius-xl: 2.25rem;
  --radius-md: 1rem;
  --radius-sm: 0.5rem;

  @media screen and (max-width: 600px) {
    --fs-500: 2rem; // 32px
    --fs-400: 1.125rem; // 18px
    --fs-300: 1.125rem; // 18px
    --fs-200: 0.875rem; // 14px
    --fs-100: 0.75rem; // 12px
  }

  // NEXT.js default font
  // --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
  //   "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
  //   "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --font-family: 'Roboto', sans-serif, 'Inconsolata', monospace;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
}

body {
  @include flex(column, '', center);
  height: 100%;
  background-color: var(--background);
  font-family: var(--font-family);
  color: var(--color);
  line-height: 1.5;
  font-size: 16px;
}

#__next {
  width: 100%;
  min-height: 100%;
  height: inherit;
  @include flex(column);
  background-color: var(--clr-primary-400);
  @media screen and (min-width: 1023px) {
    @include flex(column, center, center);
  }
}

.rootContainer {
  @include flex(column);
  width: min(100%, 58rem);
  background-color: var(--clr-primary-800);
  @media screen and (min-width: 1023px) {
    @include flexCenter();
    background-color: rgba(0, 0, 0, 0);
  }
}

a {
  text-decoration: none;
  color: var(--color);
}

a:hover {
  text-decoration: underline;
}

label {
  cursor: pointer;
}

.full_width {
  width: 100%;
  max-width: 100%;
}

.hr_horizontal {
  border: none;
  background-color: var(--clr-primary-600);
  height: 1px;
}

.hr_vertical {
  border: none;
  background-color: var(--clr-primary-600);
  height: 1.5rem;
  width: 1px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.absolute {
  position: absolute;
}

button {
  cursor: pointer;
}

.admin_link {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  background-color: var(--clr-primary-800);
  color: var(--clr-primary-100);
  @include size(2rem);
  border-radius: var(--radius-sm);
  @include flexCenter();
  transition: 0.5s ease-in-out;

  svg {
    @include size(1.5rem);
  }

  @include on_event {
    transform: scale(1.05);
  }
}
